/* body */
body{
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}


/* nav */

nav{
    font-size: 1.2em;
    height: 4em;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.19);
}

nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
    padding-top: 3px;
    align-items: center;
    justify-content: center;
    border-radius: 0.4em;
}

nav li:hover{
    background-color: rgba(220, 228, 236, 0.143);
}

nav a{
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-self: center;
    color: white;
}
nav a:hover{
    color: white;
}

nav li:first-child{
    margin-right: auto;
    margin-left: 10px;
    justify-content: center;
}

.logo-first{
    font-family: "Satisfy", cursive;
    font-size: 1.5em;
}

.logo-second{
    font-family: "Satisfy", cursive;
    font-size: 1.5em;
    color: greenyellow;
}

nav li form input{
    border-radius: 1.2em;
    background-color: black;
    background-image: linear-gradient(to right, rgba(255, 113, 113, 0.529), rgba(255, 255, 108, 0.665));
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav li svg{
    fill: white;
    margin-left: 10px;
    margin-right: 10px;
}

.search{
    color: black;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
}

@media(max-width:800px){
    nav{
        background-color: rgb(108, 108, 255);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 10;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: rgb(108, 108, 255);
    }
}

/* hero section */

.hero{
    margin: 10px;
    padding: 10px;
}

.hero-container{
    margin: 5px;
    padding: 5px;
}


.hero-image{
    display: flex;
    flex-wrap: wrap;
}
.hero-image > img{
    max-width: 52%;
    border-radius: 0.4em;
}

.description{
    margin: 10px;
    margin-top: 1px;
    padding-left: 1.7em;
    padding-right: 0.5em;
    max-width: 45%;
    position: relative;

}

.description > h1{
    font-size: 7em;
    margin-bottom: 30px;
}

.description>p{
    font-size: 1.75em;
    margin: 4px;
    margin-bottom: 1px;
    padding-left: 2px;
    color: rgb(67, 67, 67);

}

.description > p > span{
    font-weight: 500;
}

@media(max-width: 950px){

    .hero-image{
        max-width: 100%;
        justify-content: center;
    }
    .hero-image > img{
        max-width: 100%;
        max-height: 100%;
    }
    .description{
        padding-left: 0.5em;
        margin-left: 0;
    }
}

/* category section */

.category{
    margin: 10px;
    padding: 10px;
}

.index-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.items{
    width: 20rem;
    height: 20rem;
    margin: 5px;
    margin-bottom: 30px;
    background-color: white;
    padding: 5px;
    text-align: center;
    border-radius: 0.4em;

}
.items>img{
    max-width: 100%;

}

.items:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.651);
}

/* Results Section */

.search-results{
    margin: 10px 50px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result-item{
    width: 100%;
    margin: 10px 10px;
    padding: 20px 20px;
    border-radius: 0.4em;
}

.result-item:hover{
    background-color: rgba(0, 0, 0, 0.047);
}

.meal-image{
    max-width: 300px;
    max-height: 300px;
    border-radius: 0.4em;
}

.meal-name{
    padding: 10px 10px;
    font-size: 1.4em;
    color: rgb(48, 37, 37);
    font-weight: 500;
}

@media(max-width:600px){
    .search-results{
        margin: 10px 10px;
    }
    .meal-image{
        max-width: 100%;
        max-height: 10%;
        height: 10%;
        width: 100%;
        justify-self: center;
    }
    .meal-name{
        display: block;
        text-align: center;
    }
    .meal-name:hover{
        border: 0;
    }
}


/* register and login */

.register, .login{
    margin: 10px 10px;
    padding: 10px 10px;
}