/* body */
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}


/* nav */

nav{
    padding: 0px 30px;
    font-size: 1.2em;
    height: 4em;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.19);
}

nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
    padding-top: 3px;
    align-items: center;
    justify-content: center;
    border-radius: 0.4em;
}

nav li:hover{
    background-color: rgba(220, 228, 236, 0.143);
}

nav a{
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-self: center;
    color: white;
}
nav a:hover{
    color: white;
}

nav li:first-child{
    margin-right: auto;
    margin-left: 10px;
    justify-content: center;
}

.logo-first{
    font-family: "Satisfy", cursive;
    font-size: 1.5em;
}

.logo-second{
    font-family: "Satisfy", cursive;
    font-size: 1.5em;
    color: greenyellow;
}

nav li form input{
    border-radius: 1.2em;
    background-color: black;
    background-image: linear-gradient(to right, rgba(255, 113, 113, 0.529), rgba(255, 255, 108, 0.665));
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav li svg{
    fill: white;
    margin-left: 10px;
    margin-right: 10px;
}

.search{
    color: black;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
}

@media(max-width:800px){
    nav{
        background-color: rgb(108, 108, 255);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 10;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: rgb(108, 108, 255);
    }
}

/* hero section */

.hero{
    margin: 10px;
    padding: 10px 30px;
}

.hero-container{
    margin: 5px;
    padding: 5px;
}


.hero-image{
    display: flex;
    flex-wrap: wrap;
}
.hero-image > img{
    max-width: 52%;
    border-radius: 0.6em;
}

.description{
    margin: 10px;
    margin-top: 1px;
    padding-left: 1.7em;
    padding-right: 0.5em;
    max-width: 45%;
    position: relative;

}

.description > h1{
    font-size: 7em;
    margin-bottom: 30px;
}

.description>p{
    font-size: 1.75em;
    margin: 4px;
    margin-bottom: 1px;
    padding-left: 2px;
    color: rgb(67, 67, 67);

}

.description > p > span{
    font-weight: 500;
}

@media(max-width: 950px){

    .hero-image{
        max-width: 100%;
        justify-content: center;
    }
    .hero-image > img{
        max-width: 100%;
        max-height: 100%;
    }
    .description{
        padding-left: 0.5em;
        margin-left: 0;
    }
}

/* category section */

.category{
    padding: 30px 50px;
    background-color: rgba(232, 232, 232, 0.431);
}

.index-container{
    padding: 20px 30px;
    display: flex;
    overflow-x: scroll;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly;

}
.index-container>a{
    text-decoration: none;
    color: black;
}
.items{
    max-width: 300px;
    height: 200px;
    margin: 10px 10px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.612);
    padding: 10px 10px;
    text-align: center;
    border-radius: 1em;
}
.items>img{
    width: 200px;
    border-radius: 200px;
    padding-bottom: 18px;
}

.items:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.651);
    transform: scale(1.05);
    transition: 0.4s;
}


/* Results Section */

.results{
    margin: 10px 10px;
    padding: 30px 30px;
}

.search-results{
    margin: 10px 10px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;

}

.result-item{
    width: 300px;
    margin: 10px 10px;
    padding: 20px 20px;
    border-radius: 0.4em;
}

.result-item:hover{
    background-color: rgba(255, 253, 237, 0.107);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.03);
    transition: 0.3s;
}

.result-item>a{
    text-decoration: none;
}

.meal-image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.4em;
}

.meal-name{
    padding: 10px 10px;
    font-size: 1.4em;
    color: rgb(48, 37, 37);
    font-weight: 500;
}

@media(max-width:600px){
    .search-results{
        margin: 10px 10px;
    }
    .meal-image{
        max-width: 100%;
        max-height: 10%;
        height: 10%;
        width: 100%;
        justify-self: center;
    }
    .meal-name{
        display: block;
        text-align: center;
    }
    .meal-name:hover{
        border: 0;
    }
}


/* register and login */

.register, .login{
    margin: 10px 10px;
    padding: 10px 10px;
}

/* recipe */

.recipe-container{
    margin: 10px 10px;
    padding: 20px 50px;
}
.image-text{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.image-text>img{
    border-radius: 0.6em;
    max-width: 50%;

}
.side-info{
    padding-left: 30px;
}

@media(max-width:1100px){
    .image-text{
        display: inline;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .image-text>img{
        margin: 0 auto;
        padding-bottom: 20px;
        max-width: 100%;
        max-height: 100%;
    }
}

@media(max-width:700px){
    .recipe-container{
        margin: 10px 10px;
        padding: 10px 20px;
    }
}

/* Login and Register*/

.login, .register{
    height: 100%;
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.themealdb.com/images/media/meals/1529444113.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-container, .register-container{
    filter: blur(0px);
    background-color: rgba(255, 255, 255, 0.599);
    margin: auto;
    margin-top: 17%;
    padding: 30px 30px;
    max-width: 50%;
    max-height: 60%;
    border-radius: 0.6em;
    z-index: 100;
}
.register-container{
    margin-top: 12%;
}