{% extends "recipe/layout.html" %}
{% block body %}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            console.log("js working")
            let instruction = `{{meal.strInstructions}}`;
            const recipeContainer = document.getElementById('instructionContainer');
            const paragraphs = instruction.split('\n');
            
            paragraphs.forEach(paragraph => {
                const p = document.createElement('p');
                p.textContent = paragraph;
                console.log(paragraph)
                recipeContainer.appendChild(p);
            });
        })
    </script>

    <div class="recipe-container">
        <h1 style="padding-bottom: 20px;">{{meal.strMeal}}</h1>
        <div class="image-text">
            <img src="{{meal.strMealThumb}}">
            <div class="side-info">
                <h4 style="padding-bottom: 10px; padding-top: 20px;">Category: {{meal.strCategory}}</h4>
                <br>
                <h4 style="padding-bottom: 15px;">Ingredients:</h4>
                <table>
                    {% for ingredient in ingredients %}
                        <tr>
                            <th>{{ingredient.0}}</th>
                            <td>{{ingredient.1}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <h4 style="padding-top: 15px; padding-bottom: 10px;">Instruction:</h4>
        <div id="instructionContainer">
            <!--instruction added here-->
        </div>
        <!--<p>{{meal.strInstructions}}</p>-->
        {% if request.user.is_authenticated %}
            {% if favourite %}
                <a href="{% url 'favourite_remove' meal.idMeal %}"><button>Remove from Favourites</button></a>
            {% else %}
                <a href="{% url 'favourite_add' meal.idMeal %}"><button>Add to Favourites</button></a>
            {% endif %}
        {% endif %}
            
    </div>
{% endblock %}