{% extends "recipe/layout.html" %}
{% block body %}
    <div>
        <h3>{{meal.strMeal}}</h3>
        <img src="{{meal.strMealThumb}}">
            <h5>Category: {{meal.strCategory}}</h5>
            <br>
            <h5>Ingredients</h5>
            <table>
                {% for ingredient in ingredients %}
                    <tr>
                        <th>{{ingredient.0}}</th>
                        <td>{{ingredient.1}}</td>
                    </tr>
                {% endfor %}
            </table>
            <h5>Instruction:</h5>
            <p>{{meal.strInstructions}}</p>
    </div>
{% endblock %}