{% extends "recipe/layout.html" %}
{% block body %}
    <div class="recipe-container">
        <h1 style="padding-bottom: 20px;">{{meal.strMeal}}</h1>
        <div class="image-text">
            <img src="{{meal.strMealThumb}}">
            <div class="side-info">
                <h4 style="padding-bottom: 10px; padding-top: 20px;">Category: {{meal.strCategory}}</h4>
                <br>
                <h4 style="padding-bottom: 15px;">Ingredients:</h4>
                <table>
                    {% for ingredient in ingredients %}
                        <tr>
                            <th>{{ingredient.0}}</th>
                            <td>{{ingredient.1}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <h4 style="padding-top: 15px; padding-bottom: 10px;">Instruction:</h4>
        <p>{{meal.strInstructions}}</p>
        {% if request.user.is_authenticated %}
            {% if favourite %}
                <button><a href="{% url 'favourite_remove' meal.idMeal %}">Remove from Favourites</a></button>
            {% else %}
                <button><a href="{% url 'favourite_add' meal.idMeal %}">Add to Favourites</a></button>
            {% endif %}
        {% endif %}
            
    </div>
{% endblock %}